body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100vh; /* Mengisi tinggi seluruh viewport */
  margin: 0;
  background-color: black;
  transition: background-color 0.5s ease;
}

.lampu {
  margin: 0;
  padding: 10px;
  display: flex;
  text-align: justify content;
  font-family: Georgia, 'Times New Roman', Times, serif;
  transition: opacity 1s ease; /* Efek transisi untuk perubahan opasitas */
}
.lampu-on {
  background-color: rgb(241, 241, 178); /* Warna latar belakang saat lampu dinyalakan */
}

.hidden {
  display: none;
}

.musik { margin: 0;
  padding: 10px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  transition: opacity 1s ease; /* Efek transisi untuk perubahan opasitas */
}
.acara { margin: 0;
  padding: 10px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  transition: opacity 1s ease; /* Efek transisi untuk perubahan opasitas */
}


